.checkOutContainer {
  background: #eee;
}

.checkOutForm {
  width: 60%;
  background: #fff;
  min-height: 400px;
  margin: 50px 0px;
  padding: 20px;
  border-radius: 20px;
}

.orderSummaryContainer {
  width: 35%;
  background: #fff;
  height: fit-content;
  margin: 50px 0px;
  padding: 20px;
  border-radius: 20px;
}

.checkOutContent {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 2rem;
}

@media (max-width: 1210px) {
  .checkOutForm {
    width: 50%;
  }

  .orderSummaryContainer {
    width: 45%;
  }
}

@media (max-width: 950px) {
  .checkOutContent {
    flex-direction: column;
  }

  .checkOutForm,
  .orderSummaryContainer {
    width: 100%;
  }

  .checkOutForm,
  .orderSummaryContainer {
    margin: 20px 0px;
  }
}

@media (max-width: 650px) {
  h3,
  h2 {
    font-size: 1.4rem;
  }
}
